.advantage {
	padding-top: 50px;
}

.advantage-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
	justify-content: space-between;
	gap: 156px;
}

@media only screen and (max-width : 1200px) {
	.advantage-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		gap: 20px;
	}
}

.advantage__item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 11px;
}

.advantage-desc {
	text-align: center;
	font: 500 15px / 127% var(--font-family);
	color: #3b3c3f;
}