.benefits {
	padding-top: 50px;
}

.benefits-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

@media only screen and (max-width : 1200px) {
	.benefits-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
	}

	.benefit__item {
		top: 43px;
		left: 115px;
	}
}

.benefit__item {
	position: relative;
}

.benefit__sale {
	position: absolute;
	top: 43px;
	left: 36px;
}

.benefit__desc {
	font: 500 22px / 118% var(--font-family);
	color: #2c333d;
}

.sale {
	border-radius: 6px;
	padding: 6px 8px;
	width: 100px;
	background: #011120;
	font: 700 14px / 136% var(--font-family);
	text-align: center;
	color: #fff;
}