.offers {
	padding-top: 50px;
}

.bestseller {
	padding-top: 50px;
}

.tabs2 {
	position: relative;
	width: 1920px;
}

.tabs__flex {
	display: flex;
}

.tabs__list2 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.tabs__item:not(:last-child) {
	margin-right: 10px;
}

.tabs__btn {
	padding: 17px 20px;
	border: 1px solid #f2f4f5;
	border-radius: 6px;
	background-color: #ffffff;
	cursor: pointer;
	font: 500 14px / 79% var(--font-family);
	color: #5b5b5c;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tabs__btn:hover {
	background: #f6f8fb;
	color: var(--color-accent);
}

.tabs__btn--active {
	background: #f6f8fb;
	color: #117fe3;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	pointer-events: none;
}

// .tabs__content {
// 	display: none;
// 	background-color: #fff;
// }

.tabs__content--active {
	display: flex;
	align-items: flex-end;
}

.content2 {
	padding-top: 50px;
	width: 1620px;
}

.content__title {
	margin: 0;
	margin-bottom: 30px;
	font: 700 33px / 94% var(--font-family);
	color: #2c333d;
}

.content__descr {
	margin: 0;
	margin-bottom: 59px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
}

.content__list2 {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 20px; */
}

.content__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 15px;
	width: 308px;
	height: 428px;
}

.content__link {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.content__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #a2a6c0;
}

.tabs__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	padding: 0;
	border: none;
	background-color: var(--color-accent);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.tabs__arrow svg {
	pointer-events: none;
	fill: #fff;
	transition: fill 0.3s ease-in-out;
}

.tabs__arrow:hover {
	background-color: #fff;
}

.tabs__arrow:hover svg {
	fill: var(--color-accent);
}

.tabs__arrow--next {
	right: -204px;
}

.tabs__arrow--prev {
	left: -204px;
}

.articul {
	font: 400 13px / 100% var(--font-family);
	color: #a8adb2;
}

.product__name {
	font: 500 18px / 144% var(--font-family);
	color: #000;
}

.cost {
	text-align: start;
	padding-bottom: 10px;
}

.product__cost {
	font: 400 15px / 147% var(--font-family);
	text-decoration: line-through;
	color: #8f9296;
}

.product__cost--sale {
	font: 500 20px / 110% var(--font-family);
	color: #003b73;
}

.product__cost--percent {
	border-radius: 4px;
	padding: 8px 5px;
	width: 38px;
	height: 24px;
	background: #1b9665;
}

.action {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-buy {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 11px;
	border: none;
	border-radius: 6px;
	padding: 7px 17px;
	width: 120px;
	height: 40px;
	background: #186fd4;
	font: 500 15px / 147% var(--font-family);
	color: #fff;
	cursor: pointer;
	transition: var(--main-trs);
}

.button-buy svg path {
	stroke: #fff;
	transition: var(--main-trs);
}

.compare__link {
	width: 20px;
	height: 20px;
	color: var(--color-accent);
}

.like__icon {
	width: 20px;
	height: 20px;
	color: var(--color-accent);
}

.compare__svg {
	width: 15px;
}

.link__icon {
	fill: var(--text-primary);
	transition: var(--main-trs)
}

.link-like {
	stroke: var(--text-primary);
	transition: var(--main-trs);
}

.icons-cart {
	display: flex;
	align-items: center;
	gap: 9px;
}

@media (any-hover: hover) {
	.compare__link:hover {
		color: var(--color-primary);
	}

	.link-like:hover {
		stroke: var(--color-primary);
	}

	.link__icon:hover {
		fill: var(--color-primary);
	}

	.button-buy:hover {
		color: var(--color-primary);
		background-color: #f2f6fc;
		stroke: var(--color-primary);
	}

	.button-buy:hover svg path {
		stroke: var(--color-primary);
	}

}

.proposal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #117fe3;
	border-bottom: none;
	border-radius: 8px;
	width: 308px;
	height: 428px;
	background: #fff;
}

.button-buy__width {
	width: 100%;
}

.proposal-head {
	display: flex;
	align-items: center;
	gap: 20px;

	&__txt {
		font-weight: 700;
		font-size: 20px;
		line-height: 110%;
		color: #011120;
	}

	&__percent {
		border-radius: 4px;
		padding: 8px 5px;
		width: 38px;
		height: 24px;
		background: #1b9665;
		text-align: center;
		font-weight: 700;
		font-size: 11px;
		line-height: 100%;
		color: #fff;
	}
}

.proposal-product {
	font-weight: 500;
	font-size: 19px;
	line-height: 121%;
	text-align: center;
	color: #020d17;
}

.proposal-cost {
	&__old {
		font-weight: 400;
		font-size: 17px;
		line-height: 129%;
		text-decoration: line-through;
		color: #8f9296;
	}

	&__new {
		font-weight: 500;
		font-size: 24px;
		line-height: 92%;
		color: #1b9665;
		font-weight: 400;
	}
}