.popular-brends {
	padding-top: 50px;
}

.container-max {
	margin: 0 auto;
	max-width: 1920px;
	background: #f9fafb;
	padding: 50px 150px;
	height: 251px;
}

.popular-brends__names {
	padding-top: 40px;
}