@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr-roman.woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr-medium.woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr-italic.woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr-bold.woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/Helvetica.woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/pragmatica-bold.woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/pragmatica-medium.woff2');
	font-weight: 500;
	font-display: swap;
}